{% extends 'base.html' %}
{% load humanize %}
{% load static %}
{% block title %} Review |  {{service.title}}{% endblock title %}
{% block content %}
<div class="dashboard-wrap bg-light">
    {% include 'services/includes/sidebar.html' %}
    <div class="dashboard-content">
        <div class="dashboard-tlbar d-block mb-1">
            <div class="row">
                <div class="colxl-12 col-lg-12 col-md-12">
                    <p>Job review for <span class="worklink-theme">{{service.title}}  </span> to <span class="worklink-theme">{{user.get_full_name}}</span></p>
                </div>
            </div>
        </div>
        
        <div class="dashboard-widg-bar d-block">
            <div class="row">
                <div class="col-xl-8 col-lg-8 col-md-8">
                  <div class="_dashboard_content bg-white rounded mb-4">
                    <div class="_dashboard_content_body ml-2"> 
                          <div class="star-widget">
                          <h5>Review </h5>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked "></span>
                            <span class="fa fa-star checked "></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                        </div>
                          <div class="form-group text col-xl-10 col-lg-10 col-md-10">
                            <h5>Description</h5>
                            <textarea class="form-control" id="exampleFormControlTextarea1" rows="2"></textarea>
                            <button type="submit" class="btn btn-md ft-medium text-light rounded theme-bg mt-3 mb-3">Save </button>
                          </div>
                        </div>
                    </div>
  								</div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}
{% block extra_js %}
<script>
    $(document).ready(function(){
        $('select').change(function(){
            $(this).parent().submit();
        })
    })
</script>
{% endblock extra_js %}
