{% extends 'base.html' %}
{% load static %}
{% block title %}Create an account {% endblock %}
{% block content %}
<section class="middle">
    <div class="container">
        <div class="row d-flex align-items-center justify-content-center ht-100">
            <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12">
                <h3 class="text-center ft-bold pb-4">Join as Service Provider or Service Seeker</h3>
                <div class="row">
                    <div class="col-xl-5 col-lg-5 col-md-5 col-sm-5 d-flex flex-column justify-content-center align-items-center border rounded p-3">
                    <label class="image-checkbox">
                        <img class="img-responsive" src="{% static 'img/service-provider.png' %}">
                        <input name="image[]" value="" type="checkbox">
                        <i class="fa fa-check hidden"></i>
                            <h4>I am looking for work</h4>
                    </label>
                </div>
                    <div class="col-xl-5 col-lg-5 col-md-5 col-sm-5 d-flex flex-column justify-content-center align-items-center border rounded p-3">
                        <a href="#" class="user-type">
                                <img src="{% static 'img/service-seeker.png' %}" class="img-fluid" style="height:150px; width:150px" alt="">
                                <h4>I am looking for a workers.</h4>
                        </a>
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}
{% block extra_js %}

   

{% endblock %}
