{% extends 'base.html' %}
{% load static %}
{% block title %}Create an account {% endblock %}
{% block extra_css %}
<style>
label:hover{
    cursor: pointer;
}
input[type=checkbox]:checked + label {
    border: 1px solid #28b661;
}
</style>
{% endblock extra_css%}
{% block content %}
<section class="middle">
    <div class="container">
        <div class="row d-flex align-items-center justify-content-center ht-100">
            <div class="col-xl-8 col-lg-8 col-md-12 col-sm-12">
                <h3 class="text-center ft-bold pb-4">Join as Service Provider or Service Seeker</h3>
                <form class="border p-3 rounded" action="{% url 'register' %}" method="POST">
                        {% csrf_token %}
                    <ul class="d-flex">
                        <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12">
                            <li>
                                <input type="checkbox" id="myCheckbox1" name="user_type" value="Service Provider"/>
                                <label for="myCheckbox1" class="d-flex flex-column justify-content-center align-items-center">
                                    <img src="{% static 'img/service-seeker.png' %}" style="height:100px; width:100px" />
                                    <h4>Service Provider</h4>
                                </label>
                            </li>
                        </div>
                        <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12">
                            <li>
                                <input type="checkbox" id="myCheckbox2" name="user_type" value="Service Seeker"/>
                                <label for="myCheckbox2" class="d-flex flex-column justify-content-center align-items-center">
                                    <img src="{% static 'img/service-provider.png' %}" style="height:100px; width:100px" />
                                    <h4>Service Seeker</h4>
                                </label>
                            </li>
                        </div>
                    </ul> 
                                                                        <p id="user_type_error" class="text-danger"></p>
              
                    <div class="row">
                        <div class="form-group col-md-6">
                            <label>First Name *</label>
                            <input type="text" name="first_name" class="form-control" placeholder="First Name">
                            <p id="first_name_error" class="text-danger"></p>
                        </div>
                        <div class="form-group col-md-6">
                            <label>Last Name *</label>
                            <input type="text" name="last_name" class="form-control" placeholder="Last Name">
                            <p id="last_name_error" class="text-danger"></p>
                        </div>
                    </div>
                    <p class="text-warning">**Either email or phone number is required**</p>
                    <div class="row">
                        <div class="form-group col-md-7">
                            <label>Email(optional)</label>
                            <input type="text" name="email" class="form-control" placeholder="Email">
                        </div>
                        <div class="form-group col-md-5">
                            <label>Phone number(optional)</label>
                            <input type="number" name="phone" class="form-control" placeholder="Phone number">
                        </div>
                        <p id="error" class="text-danger"></p>
                    </div>
                    <div class="row">
                        <div class="form-group col-md-6">
                            <label>Password *</label>
                            <input type="password" name="password1" class="form-control" placeholder="Password*">
                            <p id="password1_error" class="text-danger"></p>
                        </div>

                        <div class="form-group col-md-6">
                            <label>Confirm Password *</label>
                            <input type="password" name="password2" class="form-control" placeholder="Confirm Password*">
                            <p id="password2_error" class="text-danger"></p>
                        </div>
                    </div>
                    <p id="password_error" class="text-danger"></p>
                    <div class="form-group">
                        <p>By registering your details, you agree with our Terms & Conditions, and Privacy Policy.</p>
                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn btn-md full-width theme-bg text-light fs-md ft-medium">Create An Account</button>
                    </div>
                </div>
                </form>
			</div>
         </div>
    </div>
</section>
{% endblock %}
{% block extra_js %}
    <script>
        $(document).ready(function(){
            $('#myCheckbox1').click(function(){
                if($(this).is(':checked')){
                    $('#myCheckbox2').prop('checked', false);
                }
            });
            $('#myCheckbox2').click(function(){
                if($(this).is(':checked')){
                    $('#myCheckbox1').prop('checked', false);
                }
            });
            // on submit check if the fields are empty and avoid the form submission
            $('form').submit(function(e){
                var user_type = $('input[name=user_type]:checked').val();
                var first_name = $('input[name=first_name]').val();
                var last_name = $('input[name=last_name]').val();
                var email = $('input[name=email]').val();
                var phone = $('input[name=phone]').val();
                var password1 = $('input[name=password1]').val();
                var password2 = $('input[name=password2]').val();
                if(user_type == undefined){
                    e.preventDefault();
                    $('#user_type_error').text('Please select a user type');
                }
                if(first_name == ''){
                    e.preventDefault();
                    $('#first_name_error').text('Please enter your first name');
                }
                if(last_name == ''){
                    e.preventDefault();
                    $('#last_name_error').text('Please enter your last name');
                }
                if(email == '' || phone == ''){
                    $('#error').text('Please enter your email or phone number');
                }
                if(password1 == ''){
                    e.preventDefault();
                    $('#password1_error').text('Please enter your password');
                }
                if(password2 == ''){
                    e.preventDefault();
                    $('#password2_error').text('Please confirm your password');
                }
                if(password1 != password2){
                    e.preventDefault();
                    $('#password_error').text('Passwords do not match');
                }
            });
            
        });
    </script>
{% endblock extra_js %}
