{% extends 'base.html' %}
{% load static %}
{% block title %}Reset Your Password {% endblock title %}
{% block extra_css %}
<style>
    form ul {
        list-style: none;
        padding: 0;
    }

    form ul li {
        padding: 0 8px;
        border-radius: 10px;
        color: black;
    }
</style>
{% endblock extra_css %}
{% block content %}
<div class="container">
					<div class="row d-flex align-items-center justify-content-center ht-100">
						<div class="col-xl-6 col-lg-6 col-md-12 col-sm-12">
    <div class="card overflow-hidden">
        <div class=" bg-soft">
            <div class="row">
                <div class="col-12">
                    <div class="worklink-theme p-4">
                        <h5 class="worklink-theme">Reset Password</h5>
                    </div>
                </div>
            </div>
        </div>
        <div class="card-body pt-0">
            <div class="p-2">
                <div class="p-2">
                    {% if validlink %}
                    <form class="custom-validation" method="POST">
                        {% csrf_token %}
                        {{ form.as_p }}
                        <div class="text-start">
                            <button class="btn btn-primary w-md waves-effect waves-light" type="submit">
                                Reset Password
                            </button>
                        </div>
                    </form>
                    {% else %}
                    <p>
                        The password reset link was invalid, possibly because it has already been used.
                        Please request a new password reset.
                    </p>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>
</div>
</div>
{% endblock content %}
{% block js_src %}
<script src="{% static 'libs/parsleyjs/parsley.min.js' %}"></script>
<script src="{% static 'js/pages/form-validation.init.js' %}"></script>
<script>
    $(document).ready(function () {
        $('#id_new_password1').addClass('form-control');
        $('#id_new_password2').addClass('form-control');
    })
</script>
{% endblock js_src %}