{% extends 'base.html' %}
{% load static %}
{% block title %}Forget your password? {% endblock title %}
{% block content %}
<div class="container">
					<div class="row d-flex align-items-center justify-content-center ht-100">
						<div class="col-xl-6 col-lg-6 col-md-12 col-sm-12">
    <div class="card overflow-hidden">
        <div class="bg-soft">
            <div class="row">
                <div class="col-12">
                    <h3 class="text-center ft-bold p-2">Reset password for WorkLink</h3>
                </div>
            </div>
        </div>
        <div class="card-body pt-0">
            <div class="p-2">
                <div class="p-2">
                    <div class="alert alert-success text-center mb-4" role="alert">
                        Enter your email addresss to get the password reset code
                    </div>
                    <form class="form-horizontal" action="{% url 'password-reset' %}" method="POST">
                        {% csrf_token %}
                        <div class="mb-3">
                            <label for="useremail" class="form-label">Email Address</label>
                            <input type="email" class="form-control" name="email" id="email" placeholder="Enter email">
                        </div>
                        <div class="text-start mt-2">
                            <button class="btn btn-primary waves-effect waves-light" type="submit">Send
                                Instruction <i class="fas fa-check-circle"></i> </button>
                            <div class="mt-4 text-center">
                                <a href="{% url 'password-reset' %}">
                                    <i class="fas fa-arrow-left me-1"></i>
                                    Goto Login
                                </a>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
    </div>
</div>
{% endblock content %}
{% block js_src %}{% endblock js_src %}