{% extends 'base.html' %}
{% load static %}
{% block title %}Password Reset Complete {% endblock title %}
{% block content %}
<div class="container">
    <div class="row d-flex align-items-center justify-content-center ht-100">
        <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12">
            <div class="card overflow-hidden">
                <div class="card-body pt-5">
                    <div class="text-center">
                        <div class="">
                            <div class="">
                                <img src="{% static 'img\logo.png' %}" class="img-fluid" height="auto"; width="250px" alt="" srcset="">
                            </div>
                        </div>
                        <div class="p-2 mt-4 mb-3">
                            <h4>Success !</h4>
                            <p class="text-muted">
                                Your Password has been updated.
                            </p>
                            <a href="{% url 'login' %}" class="btn btn-primary ">Goto Login Page</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
{% endblock content %}