{% extends 'base.html' %}
{% block title %} Chats {% endblock title %}
{% block content %} 
<div class="dashboard-wrap bg-light">
   
    {% include 'services/includes/sidebar.html' %}

    <div class="dashboard-content">
        <div class="dashboard-tlbar d-block mb-5">
            <div class="row">
                <div class="colxl-12 col-lg-12 col-md-12">
                    <h1 class="ft-medium">Messages</h1>
                    
                </div>
            </div>
        </div>
    </div>
    
</div>
{% endblock content %} 