{% extends 'base.html' %}
{% load humanize %} 
{% block title %} All notifications {%endblock title%}
{% block content %}
 <div class="dashboard-wrap bg-light">
    {% include 'services/includes/sidebar.html' %}

    <div class="dashboard-content">
        <div class="dashboard-widg-bar d-block">
            <div class="row">
                <div class="col-xl-8 col-lg-8 col-md-8">
                    <div class="mb-4 tbl-lg rounded overflow-hidden">
                        <div class="card card-body">
                            <div class="d-flex justify-content-between mb-4">
                                <div class="d-flex">
                                    <img src="{{request.user.avatar.url}}" class="dash-noti-avatar rounded-circle" alt="">
                                    <div class="ml-2 mr-2 justify-content-center align-items-center">
                                        <h6>{{request.user.get_full_name}}</h6>
                                        <h6>{{request.user.email}}</h6>
                                    </div>
                                </div>
                                <h6>Created {{noti.created_at | naturaltime }}</h6>
                            </div>
                            <div class="msg ">
                                <h6>{{noti.message}}</h6>
                            </div>
                            <hr>
                        </div>
                    </div>
                </div>
            </div>
        </div>       
    </div>
</div> 
    
    





{%endblock content%} -->
