{% load static %}

<!-- Start Navigation -->
<div class="header header-light dark-text">
    <div class="container">
        <nav id="navigation" class="navigation navigation-landscape">
            <div class="nav-header">
                <a class="nav-brand" href="{% url 'home-page' %}">
                    <img src="{% static 'img/logo.png' %}" class="logo" alt="" />
                </a>
                <div class="nav-toggle"></div>
                <div class="mobile_nav">
                    <ul>
                        <li>
                            <a href="#" data-toggle="modal" data-target="#login" class="theme-cl fs-lg">
                                <i class="lni lni-user"></i>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="nav-menus-wrapper" style="transition-property: none;">
                <ul class="nav-menu">

                    <li><a href="{% url 'home-page' %}">Home</a></li>
                    <li><a href="{% url 'about-us' %}">About Us</a></li>

                    <li><a href="{% url 'service-search' %}">Find Job</a>
                    </li>
                    </li>
                    <li><a href="{% url 'contact-us' %}">Contact Us</a></li>
                </ul>

                <ul class="nav-menu nav-menu-social align-to-right">
                    <li>
                        <a href="#" class="theme-cl ft-medium">
                             {% if request.user.is_authenticated %}<i class="fa-solid fa-user"></i> {{ request.user.get_full_name}}
                            <ul class="nav-dropdown nav-submenu">
                                <li><a href="{% url 'dashboard' %}">Dashboard</a></li>
                    <li><a href="{% url 'logout' %}" class="text-danger">Logout</a></li>
                </ul>
                </a>
                {% else %}
                <a href="#" data-toggle="modal" data-target="#login" class="theme-cl ft-medium">
                    <i class="fa fa-user"></i> Sign in
                </a>
                <a href="#" data-toggle="modal" data-target="#register" class="theme-cl ft-medium">
                    <i class="fa-solid fa-user"></i> Register
                </a> {% endif %}

                </li>

                </ul>
            </div>
        </nav>
    </div>
</div>
<!-- End Navigation -->

            
