{% load static %}
{% load humanize %}
{% block extra_css %}
<style>
  .single-notification:hover {
    background-color: #f5f5f5;
  }
</style>
{% endblock extra_css%}



<!-- Start Navigation -->
<div class="header header-light dark-text">
  <div class="container">
    <nav id="navigation" class="navigation navigation-landscape">
      <div class="nav-header">
        <a class="nav-brand" href="{% url 'home-page' %}">
          <img src="{% static 'img/logo.png' %}" class="logo" alt="" />
        </a>
        <div class="nav-toggle"></div>
        <div class="mobile_nav">
          <ul>
            <li>
              {% if request.user.is_authenticated %}
                <a href="{% url 'dashboard' %}" class="worklink-theme ">{{request.user.get_full_name}}</a>
              {% else %}
                <a
                  href="{% url 'login' %}"
                  class="worklink-theme fs-lg"
                >
                  <i class="fas fa-user"></i>
                </a>
              {% endif %}
            </li>
          </ul>
        </div>
      </div>
      <div class="nav-menus-wrapper" style="transition-property: none">
        <ul class="nav-menu">
          <li><a href="{% url 'home-page' %}">Home</a></li>
          <li><a href="{% url 'about-us' %}">About Us</a></li>
          {% if request.user.is_authenticated %} 
            {% if request.user.role == 'Service Provider' %}
              <li><a href="{% url 'service-search' %}">Find Job</a></li>
            {% endif %} 
          {% endif %}
          <li><a href="{% url 'contact-us' %}">Contact Us</a></li>
          {% if not request.user.is_authenticated %}
          <li class="float-right">
            <a href="{% url 'login' %}" class="worklink-theme ft-medium">
              <i class="fa fa-user"></i> Sign in
            </a>
          </li>
              <li class="float-right">
                <a href="{% url 'register' %}" class="worklink-theme ft-medium">
                <i class="fas fa-plus-circle"></i> Register
              </a>
              </li>
          {% endif %}
        </ul>

        <ul class="nav-menu nav-menu-social align-to-right">
          <li>
            {% if request.user.is_authenticated %}
            <a href="#" class="worklink-theme ft-medium">
              <i class="fa fa-user"></i> {{ request.user.get_full_name}}
              <ul class="nav-dropdown nav-submenu">
                <li><a href="{% url 'dashboard' %}">Dashboard</a></li>
                <li>
                  <a href="{% url 'logout' %}" class="text-danger">Logout</a>
                </li>
              </ul>
            </a>
            {% if not request.user.role == 'Admin' %}
            <p class="btn btn-outline-primary ft-medium rounded p-2 ml-3">
              {{request.user.points.points}} points
            </p>
            {% endif %}
            <li class="ml-3">
              <div class="dropdown d-flex">
                <a class="fas fa-bell worklink-theme ft-medium"
                  type="button"
                  id="dropdownMenuButton"
                  data-toggle="dropdown"
                  aria-haspopup="true"
                  aria-expanded="false"
                  style="font-size: 24px"
                  >
                </a>
                <div class="dropdown-menu p-2" aria-labelledby="dropdownMenuButton" style="min-width:300px; min-height:300px;">
                  <div class="d-flex justify-content-between">
                    <p class="ft-bold">New Notifications</p>
                    <a href="#" class="worklink-theme">View all</a>
                  </div>
                  {% for notification in notifications %}
                    <div class="p-1 single-notification">
                      <p class="fs-sm">{{notification.message | truncatechars:90}} <span class="float-right ft-medium">{{notification.created_at | naturaltime}}</span></p>
                    </div>
                    <hr>
                  {% endfor %}
                </div>
              <p class="fs-sm rounded-circle border border-danger px-2 bg-danger text-white" style="margin-top:-15px">{{notifications|length}}</p>
              </div>
            </li>
            {% comment %} {% else %}
              <a href="{% url 'login' %}" class="worklink-theme ft-medium">
                <i class="fa fa-user"></i> Sign in
              </a>
              <a href="{% url 'register' %}" class="worklink-theme ft-medium">
                <i class="fas fa-plus-circle"></i> Register
              </a> {% endcomment %}
            {% endif %}
          </li>
        </ul>
      </div>
    </nav>
  </div>
</div>
<!-- End Navigation -->
