{% extends 'base.html' %}
{% block title %} Manage Users {% endblock title%}
{% block content %}

<div class="dashboard-wrap bg-light">
    {% include 'services/includes/sidebar.html' %}
<div class="dashboard-content">
    <div class="dashboard-tlbar d-block mb-5">
        <div class="row">
            <div class="colxl-12 col-lg-12 col-md-12">
                <h1 class="ft-medium">Manage Users</h1>
                
            </div>
        </div>
    </div>
    
    <div class="dashboard-widg-bar d-block">
        <div class="row">
            <div class="col-xl-12 col-lg-12 col-md-12">
               
                <div class="mb-4 tbl-lg rounded overflow-hidden">
                    <div class="table-responsive bg-white">
                        <table class="table">
                            <thead class="thead-dark">
                                <tr>
                                  <th scope="col">Serial No</th>
                                  <th scope="col">Transaction Id</th>
                                  <th scope="col">Date</th>
                                  <th scope="col">Action</th>
                                  <th scope="col">Change in Points</th>
                                  <th scope="col">Remarks</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td><div><h4 class="mb-0 ft-medium fs-sm text-center">1</h4></div></td>
                                    <td><div class="text-center">111</div></td>
                                    <td>10 Sep 2021</td>
                                    <td>Added</td>
                                    <td class="text-center">100</td>
                                    <td>
                                    <p>Completed Successfully</p>
                                    </td>
                                </tr>
                                <tr>
                                    <td><div><h4 class="mb-0 ft-medium fs-sm text-center ">2</h4></div></td>
                                    <td><div class="text-center" >112</div></td>
                                    <td>10 Sep 2021</td>
                                    <td>Substracted</td>
                                    <td class="text-center">10</td>
                                    <td>
                                    <p>Completed Successfully</p>
                                    </td>
                                </tr>
                                <tr>
                                    <td><div><h4 class="mb-0 ft-medium fs-sm text-center">3</h4></div></td>
                                    <td><div class="text-center" >113</div></td>
                                    <td>10 Sep 2021</td>
                                    <td>Added</td>
                                    <td class="text-center">20</td>
                                    <td>
                                    <p>Completed Successfully</p>
                                    </td>
 
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
            
    </div>
    
   

</div>

</div>
<!-- ======================= dashboard Detail End ======================== -->

<a id="back2Top" class="top-scroll" title="Back to top" href="#"><i class="ti-arrow-up"></i></a>

{% endblock content %}
