{% load static %}
<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta name="author" content="Project WorkLink Members" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="WorkLink is a web application that connects job seekers and job providers.">
    <link rel="shortcut icon" href="{% static 'img/favicon.ico' %}" type="image/x-icon">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.2.0/css/all.min.css">
    <title>{% block title %}{% endblock title %}| WorkLink: Connecting Job Seeker and Job Provider</title>

    <!-- Custom CSS -->
    <link href="{% static 'css/plugins/select2.css' %}" rel="stylesheet">
    <link href="{% static 'css/styles.css' %}" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/toastr.min.css' %}"> {% block extra_css %} {% endblock extra_css %}
    <style>
          ul.errorlist{
                list-style: none;
                padding: 2px;
            }
            
             ul.errorlist li{
                color: red;
                font-size: 12px;
             }
    </style>
</head>

<body>


    <div class="preloader"></div>

    <div id="main-wrapper">

        <!-- Top header  -->

        {% include 'includes/header.html' with notifications=notications %}
         
        <div class="clearfix"></div>

        {% block content %} {% endblock content %} 
        {% include 'includes/footer.html' %} 

        <a id="back2Top" class="top-scroll" title="Back to top" href="#"><i class="fas fa-arrow-up"></i></a>


    </div>


    <script src="{% static 'js/jquery.min.js' %}"></script>
    <script src="{% static 'js/popper.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/slider-bg.js' %}"></script>
    <script src="{% static 'js/toastr.min.js'%}"></script>
    <script src="{% static 'js/smoothproducts.js' %}"></script>
    <script src="{% static 'js/jQuery.style.switcher.js' %}"></script>
    <script src="{% static 'js/custom.js' %}"></script>
    <script>
        $(document).ready(function() {
            {% for single_form in forms %}
                {% for field in single_form  %}
                    {% if field.errors %}
                        $('#{{field.id_for_label}}').addClass('is-invalid');
                        $('#{{field.id_for_label}}').after('{{field.errors}}');
                    {% endif %}
                {% endfor %}
            {% endfor %}
            });
        $('form').submit(function(e){
                //get all the fields of the form
                var fields = $(this).find(':input');
                //on key update remove the error class
                    fields.each(function(){
                    if($(this).prop('required') == true && $(this).val() == ''){
                        $(this).addClass('is-invalid');
                        $(this).after('<div class="invalid-feedback">This field is required</div>');
                        e.preventDefault();
                    }
                    else{
                        $(this).removeClass('is-invalid');
                        
                    }
            });
             });
    </script>
    <script src="{% static 'js/select2.js' %}"></script>
        
     <script>
        $('.select2').select2();
    </script>
    
    {% block extra_js %} {% endblock extra_js %}
    {% include 'includes/messages.html' %}


</body>

</html>