				<a class="mobNavigation" data-toggle="collapse" href="#MobNav" role="button" aria-expanded="false" aria-controls="MobNav">
					<i class="fas fa-bars mr-2"></i>
				</a>
				 <div class="collapse" id="MobNav">
					<div class="dashboard-nav">
						<div class="dashboard-inner">

							<ul data-submenu-title="">
								<li><a href="{% url 'dashboard' %}"><i class="fas fa-tachometer-alt mr-2"></i>Dashboard</a></li>
								<li><a href="{% url 'post-job' %}"><i class="fas fa-tasks mr-2"></i>Post New Job</a></li>
								<li><a href="{% url 'add-category' %}"><i class="lni lni-files mr-2"></i>Add Category</a></li>
								<li><a href="{% url 'job-skill' %}"><i class="lni lni-files mr-2"></i>Add Job Skills</a></li>
								<li><a href="{% url 'manage-job' %}"><i class="far fa-folder-plus"></i>Manage Jobs</a></li>
								{% comment %} <li><a href="{% url 'manage-applicant'  %}"><i class="fal fa-briefcase"></i>Manage Applicants</a></li> {% endcomment %}
                				<li><a href="{% url 'chat' %}"><i class="fas fa-envelope mr-2"></i>Messages</a></li>
							</ul>
							<ul data-submenu-title="My Accounts">
								<li><a href="{% url 'user-profile' %}"><i class="fas fa-user mr-2"></i>My Profile </a></li>
								<li><a href="{% url 'change-password' %}"><i class="fas fa-lock mr-2"></i>Change Password</a></li>
								<li><a href="{% url 'logout' %}"><i class="fas fa-power-off mr-2"></i>Log Out</a></li>
							</ul>
						</div>					
					</div>
				</div>