<!--  {% extends 'base.html' %}
{% block title %} Add Resume {%endblock title%}
{%block content%}

<nav id="navigation" class="navigation navigation-landscape">
    <div class="nav-menus-wrapper mb-5" style="transition-property: none;">
        <ul class="nav-menu ">
            <li>
                <a href="#" class="worklink-theme ft-medium">
                    <i class="fa fa-user"></i>     
                    <ul class="nav-dropdown nav-submenu">
                        <li><a href="{% url 'dashboard' %}">Dashboard</a></li>
                        <li><a href="{% url 'logout' %}" class="text-danger">Logout</a></li>
                    </ul>
                </a>
            </li>

        </ul>
    </div>
</nav> 


{%endblock content%} -->
