{% extends 'base.html' %}
{% block title %} {{user.get_full_name}} {% endblock title %}
{% block content %}
			<!-- ======================= Dashboard Detail ======================== -->
			<section class="middle">
				<div class="container">
					<div class="row align-items-start justify-content-between">
					
						<div class="col-12 col-md-12 col-lg-4 col-xl-4 text-center miliods">
							<div class="d-block border rounded mfliud-bot mb-4">
								<div class="cdt_author px-2 pt-5 pb-4">
									<div class="dash_auth_thumb circle p-1 border d-inline-flex mx-auto mb-2">
										<img src="{{user.avatar.url}}" class="img-fluid circle" width="100" alt="" />
									</div>
									<div class="dash_caption mb-3">
										<h4 class="fs-lg ft-medium mb-0 lh-1">{{user.get_full_name}}</h4>
										<p class="m-0 p-0">{{user.profession}}</p>
										<span class="text-muted smalls"><i class="lni lni-map-marker mr-1"></i>{{user.address}}</span>
									</div>
									<div class="jb-list-01-title px-2">
										{% for skill in user.skill.all %}
										<span class="mr-2 mb-2 d-inline-flex px-2 py-1 rounded worklink-theme theme-bg-light">{{skill}}</span>
										{% endfor %}
									</div>
								</div>
								
								<div class="cdt_caps">
									<div class="job_grid_footer px-3 d-flex align-items-center justify-content-between">
										<div class="df-1 text-muted"><i class="lni lni-envelope mr-1"></i>{{user.email}}</div>
										<div class="df-1 text-muted"><i class="lni lni-graduation mr-1"></i>{{user.experience}} Year Exp.</div>
									</div>
									<div class="job_grid_footer px-3 d-flex align-items-center justify-content-between">
										<div class="df-1 text-muted"><i class="lni lni-envelope mr-1"></i>10 jobs completed</div>
									</div>
								</div>
								
								<div class="cdt_caps py-5 px-3">
									<a href="#" class="btn btn-md theme-bg text-light rounded full-width">Hire for this job</a>
								</div>
								
							</div>
						</div>
						
						<div class="col-12 col-md-12 col-lg-8 col-xl-8">
						
							<!-- row -->
							<div class="row align-items-start">
								
								<!-- About -->
								<div class="abt-cdt d-block full-width mb-4">
									<h4 class="ft-medium mb-1 fs-md">About {{user.get_full_name}}</h4>
									<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
									<p>Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem.</p>
								</div>
							
								<h1>Add previous jobs and its ratings here</h1>
								
								<!-- Qualification -->
								<div class="abt-cdt d-block full-width mb-4">
									<h4 class="ft-medium mb-1 fs-md">Qualification</h4>
									<div class="exslio-list mt-3">
										<ul>
											<li>
												<div class="esclio-110 bg-light rounded px-3 py-3">
													<h4 class="mb-0 ft-medium fs-md">High School</h4>
													<div class="esclio-110-info full-width mb-2">
														<span class="text-muted mr-2"><i class="lni lni-graduation mr-1"></i>LBS Academy</span>
														<span class="text-muted mr-2"><i class="lni lni-calendar mr-1"></i>2010</span>
													</div>
													<div class="esclio-110-decs full-width">
														<p>Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam <a href="javascript:void(0);" class="worklink-theme">Read More..</a></p>
													</div>
												</div>
											</li>
											
											<li>
												<div class="esclio-110 bg-light rounded px-3 py-3">
													<h4 class="mb-0 ft-medium fs-md">Inter Medium</h4>
													<div class="esclio-110-info full-width mb-2">
														<span class="text-muted mr-2"><i class="lni lni-graduation mr-1"></i>International Inter College</span>
														<span class="text-muted mr-2"><i class="lni lni-calendar mr-1"></i>2012</span>
													</div>
													<div class="esclio-110-decs full-width">
														<p>Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam <a href="javascript:void(0);" class="worklink-theme">Read More..</a></p>
													</div>
												</div>
											</li>
											
											<li>
												<div class="esclio-110 bg-light rounded px-3 py-3">
													<h4 class="mb-0 ft-medium fs-md">Gradutation</h4>
													<div class="esclio-110-info full-width mb-2">
														<span class="text-muted mr-2"><i class="lni lni-graduation mr-1"></i>Nandani College</span>
														<span class="text-muted mr-2"><i class="lni lni-calendar mr-1"></i>2015</span>
													</div>
													<div class="esclio-110-decs full-width">
														<p>Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam <a href="javascript:void(0);" class="worklink-theme">Read More..</a></p>
													</div>
												</div>
											</li>
										</ul>
									</div>
								</div>
								
								<!-- Experience -->
								<div class="abt-cdt d-block full-width mb-4">
									<h4 class="ft-medium mb-1 fs-md">Experience</h4>
									<div class="exslio-list mt-3">
										<ul>
											<li>
												<div class="esclio-110 bg-light rounded px-3 py-3">
													<h4 class="mb-0 ft-medium fs-md">Themezhub Limited</h4>
													<div class="esclio-110-info full-width mb-2">
														<span class="text-muted mr-2"><i class="lni lni-map-marker mr-1"></i>Liverpool, UK</span>
														<span class="text-muted mr-2"><i class="lni lni-laptop-phone mr-1"></i>Web Designer</span>
														<span class="text-muted mr-2"><i class="lni lni-calendar mr-1"></i>2010 - 2012</span>
													</div>
													<div class="esclio-110-decs full-width">
														<p>Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam <a href="javascript:void(0);" class="worklink-theme">Read More..</a></p>
													</div>
												</div>
											</li>
											
											<li>
												<div class="esclio-110 bg-light rounded px-3 py-3">
													<h4 class="mb-0 ft-medium fs-md">Waft Technology</h4>
													<div class="esclio-110-info full-width mb-2">
														<span class="text-muted mr-2"><i class="lni lni-map-marker mr-1"></i>Liverpool, UK</span>
														<span class="text-muted mr-2"><i class="lni lni-laptop-phone mr-1"></i>Product Designer</span>
														<span class="text-muted mr-2"><i class="lni lni-calendar mr-1"></i>2012 - 2014</span>
													</div>
													<div class="esclio-110-decs full-width">
														<p>Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam <a href="javascript:void(0);" class="worklink-theme">Read More..</a></p>
													</div>
												</div>
											</li>
											
											<li>
												<div class="esclio-110 bg-light rounded px-3 py-3">
													<h4 class="mb-0 ft-medium fs-md">Swap Designd</h4>
													<div class="esclio-110-info full-width mb-2">
														<span class="text-muted mr-2"><i class="lni lni-map-marker mr-1"></i>Liverpool, UK</span>
														<span class="text-muted mr-2"><i class="lni lni-laptop-phone mr-1"></i>UI/UX Designer</span>
														<span class="text-muted mr-2"><i class="lni lni-calendar mr-1"></i>2015 - 2021</span>
													</div>
													<div class="esclio-110-decs full-width">
														<p>Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam <a href="javascript:void(0);" class="worklink-theme">Read More..</a></p>
													</div>
												</div>
											</li>
										</ul>
									</div>
								</div>
								
								<!-- Skills -->
								<div class="abt-cdt d-block full-width">
									<h4 class="ft-medium mb-1 fs-md">Skills</h4>
									<ul class="p-0 skills_tag text-left">
										<li><span class="px-2 py-1 medium skill-bg rounded text-dark">Joomla</span></li>
										<li><span class="px-2 py-1 medium skill-bg rounded text-dark">WordPress</span></li>
										<li><span class="px-2 py-1 medium skill-bg rounded text-dark">Javascript</span></li>
										<li><span class="px-2 py-1 medium skill-bg rounded text-dark">PHP</span></li>
										<li><span class="px-2 py-1 medium skill-bg rounded text-dark">HTML5</span></li>
										<li><span class="px-2 py-1 medium skill-bg rounded text-dark">MS SQL</span></li>
										<li><span class="px-2 py-1 medium skill-bg rounded text-dark">SQL Development</span></li>
										<li><span class="px-2 py-1 medium skill-bg rounded text-dark">Dynamod</span></li>
										<li><span class="px-2 py-1 medium skill-bg rounded text-dark">Database</span></li>
									</ul>
								</div>
								
							</div>
							<!-- row -->
							
						</div>
						
					</div>
				</div>
			</section>
			<!-- ======================= Dashboard Detail End ======================== -->
			
			





{% endblock content %}