{% extends 'base.html' %}
{% block title %} {{user.get_full_name}} {% endblock title %}
{% block content %}
<div class="dashboard-wrap bg-light">
    {% include 'services/includes/sidebar.html' %}

    <div class="dashboard-content">
        <div class="dashboard-tlbar d-block mb-5">
            <div class="row">
                <div class="colxl-12 col-lg-12 col-md-12 d-flex justify-content-between">
                    <h1 class="ft-medium">My Profile</h1>
					{% if request.user == user %}
					<a href="{% url 'edit-user-profile' %}" class="btn btn-md theme-bg text-light rounded">Edit Profile</a>
					{% endif %}
                </div>
            </div>
        </div>
			<section class="middle">
				<div class="container">
					<div class="row align-items-start justify-content-between">
					
						<div class="col-12 col-md-12 col-lg-4 col-xl-4 text-center miliods">
							<div class="d-block border rounded mfliud-bot mb-4">
								<div class="cdt_author px-2 pt-5 pb-4">
									<div class="dash_auth_thumb circle p-1 border d-inline-flex mx-auto mb-2">
										<img src="{% if user.avatar %}{{user.avatar.url}}{% endif%}" class="img-fluid circle" width="100" alt="" />
									</div>
									<div class="dash_caption mb-3">
										<h4 class="fs-lg ft-medium mb-0 lh-1">{{user.get_full_name}}</h4>
										<span class="p-1 theme-bg-light text-warning font-size-16">{{user.profession}}</span> <br>
										<span class="text-muted smalls"><i class="fas fa-map-marker-alt mr-1 text-success mt-2"></i>{{user.address}}</span>
									</div>
								</div>
								
								<div class="cdt_caps mb-5">
									<div class="job_grid_footer px-3 d-flex align-items-center justify-content-between">
										<div class="df-1 text-muted"><i class="fas fa-envelope mr-1 text-success"></i>{{user.email}}</div>
										<div class="df-1 text-muted"><i class="fas fa-graduation-cap mr-1 text-danger"></i>{{user.experience}} Year Exp.</div>
									</div>
									<div class="job_grid_footer px-3 d-flex align-items-center justify-content-between">
										<div class="df-1 text-muted"><i class="fas fa-briefcase mr-1 text-info"></i>{{jobs|length}} jobs completed</div>
									</div>
								</div>								
							</div>
						</div>
						
						<div class="col-12 col-md-12 col-lg-8 col-xl-8">
						
							<!-- row -->
							<div class="row align-items-start">
								
								<!-- About -->
								<div class="abt-cdt d-block full-width mb-4">
									<h4 class="ft-medium mb-1 fs-md">About {{user.get_full_name}}</h4>
									{% autoescape off %}
										{{user.description}}
									{% endautoescape %}
								</div>
														
								<!-- Qualification -->
								<div class="abt-cdt d-block full-width mb-4">
									<h4 class="ft-medium mb-1 fs-md">Qualification</h4>
									<div class="exslio-list mt-3">
										<ul>
											{% for edu in user.education.all %}
											<li>
												<div class="esclio-110 bg-light rounded px-3 py-3">
													<h4 class="mb-0 ft-medium fs-md">{{edu.level}}, {{edu.degree}}</h4>
													<div class="esclio-110-info full-width mb-2">
														<span class="text-muted mr-2"><i class="lni lni-graduation mr-1"></i>{{edu.college_university_name}}</span>
														<span class="text-muted mr-2"><i class="lni lni-calendar mr-1"></i>{{edu.end_date}}</span>
													</div>
													<div class="esclio-110-decs full-width">
														{% comment %} <p>{{edu.edu_description}}</a></p> {% endcomment %}
													</div>
												</div>
											</li>
											{% endfor %}
										</ul>
									</div>
								</div>
								
								<!-- Experience -->
								<div class="abt-cdt d-block full-width mb-4">
									<h4 class="ft-medium mb-1 fs-md">Experience</h4>
									<div class="exslio-list mt-3">
										<ul>
											{% if jobs %}
												{% for job in jobs %}
												<li>
													<div class="esclio-110 bg-light rounded px-3 py-3">
														<h4 class="mb-0 ft-medium fs-md">{{job.title}}</h4>
														<div class="esclio-110-info full-width mb-2">
															<span class="text-muted mr-2">{{job.location}}</span>
															<span class="text-muted mr-2">{{job.created_at}}</span>
														</div>
														<div class="esclio-110-decs full-width">
															<p>
																{% autoescape off %}
																{{job.description | truncatechars:200}}
																{% endautoescape %}
															</p>
															{% if job.reviewed_service.rating == 1 %}
																<div class="star-rating align-items-center d-flex justify-content-left mb-1 p-0">
																	<i class="fas fa-star filled"></i>
																	<i class="fas fa-star"></i>
																	<i class="fas fa-star"></i>
																	<i class="fas fa-star"></i>
																	<i class="fas fa-star"></i>
																</div>
															{% elif job.reviewed_service.rating == 2 %}
															<div class="star-rating align-items-center d-flex justify-content-left mb-1 p-0">
																	<i class="fas fa-star filled"></i>
																	<i class="fas fa-star filled"></i>
																	<i class="fas fa-star"></i>
																	<i class="fas fa-star"></i>
																	<i class="fas fa-star"></i>
																</div>
															{% elif job.reviewed_service.rating == 3 %}
															<div class="star-rating align-items-center d-flex justify-content-left mb-1 p-0">
																	<i class="fas fa-star filled"></i>
																	<i class="fas fa-star filled"></i>
																	<i class="fas fa-star filled"></i>
																	<i class="fas fa-star"></i>
																	<i class="fas fa-star"></i>
																</div>
															{% elif job.reviewed_service.rating == 4 %}
															<div class="star-rating align-items-center d-flex justify-content-left mb-1 p-0">
																	<i class="fas fa-star filled"></i>
																	<i class="fas fa-star filled"></i>
																	<i class="fas fa-star filled"></i>
																	<i class="fas fa-star filled"></i>
																	<i class="fas fa-star"></i>
																</div>
															{% elif job.reviewed_service.rating == 5 %}
															<div class="star-rating align-items-center d-flex justify-content-left mb-1 p-0">
																	<i class="fas fa-star filled"></i>
																	<i class="fas fa-star filled"></i>
																	<i class="fas fa-star filled"></i>
																	<i class="fas fa-star filled"></i>
																	<i class="fas fa-star filled"></i>
																</div>
															{% else %}
															<div class="star-rating align-items-center d-flex justify-content-left mb-1 p-0">
																	<i class="fas fa-star"></i>
																	<i class="fas fa-star"></i>
																	<i class="fas fa-star"></i>
																	<i class="fas fa-star"></i>
																	<i class="fas fa-star"></i>
																</div>
															{% endif %}

														</div>
													</div>
												</li>
												{% endfor %}
											{% else %}
													<div class="ml-3">
														<h6 class="mb-0 ft-medium">No previous job experiences on this platform</h6>
													</div>
												
											{% endif %}
										</ul>
									</div>
								</div>
								
								<!-- Skills -->
								{% comment %} <div class="abt-cdt d-block full-width">
									<h4 class="ft-medium mb-1 fs-md">Skills</h4>
									<ul class="p-0 skills_tag text-left">
									</ul>
								</div> {% endcomment %}
								
							</div>
							<!-- row -->
							
						</div>
						
					</div>
				</div>
			</section>
	</div>
</div>

{% endblock content %}