{% extends 'base.html' %}
{% block title %} Categories {% endblock title %}
{% block content %} 

<section class="middle bg-light">
    <div class="container">
    
        <!-- Single Category -->
        <div class="row align-items-start mb-5">
            <div class="col-xl-3 col-lg-4 col-md-4 col-sm-12 col-12">
                <div class="d-block full-width mt-2">
                    <h3 class="ft-medium mb-0">Information & Technology</h3>
                </div>
            </div>
            <div class="col-xl-9 col-lg-8 col-md-8 col-sm-12 col-12">
                <div class="row">
                
                    <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6 col-12">
                        <div class="d-block full-width px-4 py-4 bg-white rounded mb-3">
                            <div class="d-block full-width mb-1"><img src="assets/img/icons/1.png" class="img-fluid" width="45" alt="" /></div>
                            <h4 class="ft-medium mb-0 fs-md">Content Writer</h4>
                            <p class="mb-3 p-0 lh-1">632 Jobs</p>
                            <a href="job-search-v1.html" class="theme-cl ft-medium">Explore Jobs<i class="lni lni-arrow-right-circle ml-1"></i></a>
                        </div>
                    </div>
                    
                    <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6 col-12">
                        <div class="d-block full-width px-4 py-4 bg-white rounded mb-3">
                            <div class="d-block full-width mb-1"><img src="assets/img/icons/2.png" class="img-fluid" width="45" alt="" /></div>
                            <h4 class="ft-medium mb-0 fs-md">Web Designing</h4>
                            <p class="mb-3 p-0 lh-1">412 Jobs</p>
                            <a href="job-search-v1.html" class="theme-cl ft-medium">Explore Jobs<i class="lni lni-arrow-right-circle ml-1"></i></a>
                        </div>
                    </div>
                    
                    <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6 col-12">
                        <div class="d-block full-width px-4 py-4 bg-white rounded mb-3">
                            <div class="d-block full-width mb-1"><img src="assets/img/icons/3.png" class="img-fluid" width="45" alt="" /></div>
                            <h4 class="ft-medium mb-0 fs-md">WordPress Developer</h4>
                            <p class="mb-3 p-0 lh-1">620 Jobs</p>
                            <a href="job-search-v1.html" class="theme-cl ft-medium">Explore Jobs<i class="lni lni-arrow-right-circle ml-1"></i></a>
                        </div>
                    </div>
                    
                    <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6 col-12">
                        <div class="d-block full-width px-4 py-4 bg-white rounded mb-3">
                            <div class="d-block full-width mb-1"><img src="assets/img/icons/4.png" class="img-fluid" width="45" alt="" /></div>
                            <h4 class="ft-medium mb-0 fs-md">PHP Developer</h4>
                            <p class="mb-3 p-0 lh-1">470 Jobs</p>
                            <a href="job-search-v1.html" class="theme-cl ft-medium">Explore Jobs<i class="lni lni-arrow-right-circle ml-1"></i></a>
                        </div>
                    </div>
                    
                    <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6 col-12">
                        <div class="d-block full-width px-4 py-4 bg-white rounded mb-3">
                            <div class="d-block full-width mb-1"><img src="assets/img/icons/5.png" class="img-fluid" width="45" alt="" /></div>
                            <h4 class="ft-medium mb-0 fs-md">UI/UX Designer</h4>
                            <p class="mb-3 p-0 lh-1">513 Jobs</p>
                            <a href="job-search-v1.html" class="theme-cl ft-medium">Explore Jobs<i class="lni lni-arrow-right-circle ml-1"></i></a>
                        </div>
                    </div>
                    
                </div>
            </div>
        </div>
        <!-- /row -->
        
        <!-- Single Category -->
        <div class="row align-items-start mb-5">
            <div class="col-xl-3 col-lg-4 col-md-4 col-sm-12 col-12">
                <div class="d-block full-width mt-2">
                    <h3 class="ft-medium mb-0">Financial Services & Software</h3>
                </div>
            </div>
            <div class="col-xl-9 col-lg-8 col-md-8 col-sm-12 col-12">
                <div class="row">
                
                    <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6 col-12">
                        <div class="d-block full-width px-4 py-4 bg-white rounded mb-3">
                            <div class="d-block full-width mb-1"><img src="assets/img/icons/6.png" class="img-fluid" width="45" alt="" /></div>
                            <h4 class="ft-medium mb-0 fs-md">Pride Technologies</h4>
                            <p class="mb-3 p-0 lh-1">389 Jobs</p>
                            <a href="job-search-v1.html" class="theme-cl ft-medium">Explore Jobs<i class="lni lni-arrow-right-circle ml-1"></i></a>
                        </div>
                    </div>
                    
                    <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6 col-12">
                        <div class="d-block full-width px-4 py-4 bg-white rounded mb-3">
                            <div class="d-block full-width mb-1"><img src="assets/img/icons/7.png" class="img-fluid" width="45" alt="" /></div>
                            <h4 class="ft-medium mb-0 fs-md">Petroleum/Energy</h4>
                            <p class="mb-3 p-0 lh-1">400 Jobs</p>
                            <a href="job-search-v1.html" class="theme-cl ft-medium">Explore Jobs<i class="lni lni-arrow-right-circle ml-1"></i></a>
                        </div>
                    </div>
                    
                    <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6 col-12">
                        <div class="d-block full-width px-4 py-4 bg-white rounded mb-3">
                            <div class="d-block full-width mb-1"><img src="assets/img/icons/8.png" class="img-fluid" width="45" alt="" /></div>
                            <h4 class="ft-medium mb-0 fs-md">Magento Developer</h4>
                            <p class="mb-3 p-0 lh-1">978 Jobs</p>
                            <a href="job-search-v1.html" class="theme-cl ft-medium">Explore Jobs<i class="lni lni-arrow-right-circle ml-1"></i></a>
                        </div>
                    </div>
                    
                    <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6 col-12">
                        <div class="d-block full-width px-4 py-4 bg-white rounded mb-3">
                            <div class="d-block full-width mb-1"><img src="assets/img/icons/9.png" class="img-fluid" width="45" alt="" /></div>
                            <h4 class="ft-medium mb-0 fs-md">Product Designer</h4>
                            <p class="mb-3 p-0 lh-1">854 Jobs</p>
                            <a href="job-search-v1.html" class="theme-cl ft-medium">Explore Jobs<i class="lni lni-arrow-right-circle ml-1"></i></a>
                        </div>
                    </div>
                    
                    <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6 col-12">
                        <div class="d-block full-width px-4 py-4 bg-white rounded mb-3">
                            <div class="d-block full-width mb-1"><img src="assets/img/icons/10.png" class="img-fluid" width="45" alt="" /></div>
                            <h4 class="ft-medium mb-0 fs-md">Team Leader</h4>
                            <p class="mb-3 p-0 lh-1">632 Jobs</p>
                            <a href="job-search-v1.html" class="theme-cl ft-medium">Explore Jobs<i class="lni lni-arrow-right-circle ml-1"></i></a>
                        </div>
                    </div>
                    
                </div>
            </div>
        </div>
        <!-- /row -->
        
        <!-- Single Category -->
        <div class="row align-items-start mb-5">
            <div class="col-xl-3 col-lg-4 col-md-4 col-sm-12 col-12">
                <div class="d-block full-width mt-2">
                    <h3 class="ft-medium mb-0">Transmission & Distribution</h3>
                </div>
            </div>
            <div class="col-xl-9 col-lg-8 col-md-8 col-sm-12 col-12">
                <div class="row">
                
                    <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6 col-12">
                        <div class="d-block full-width px-4 py-4 bg-white rounded mb-3">
                            <div class="d-block full-width mb-1"><img src="assets/img/icons/11.png" class="img-fluid" width="45" alt="" /></div>
                            <h4 class="ft-medium mb-0 fs-md">Chat Manager</h4>
                            <p class="mb-3 p-0 lh-1">730 Jobs</p>
                            <a href="job-search-v1.html" class="theme-cl ft-medium">Explore Jobs<i class="lni lni-arrow-right-circle ml-1"></i></a>
                        </div>
                    </div>
                    
                    <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6 col-12">
                        <div class="d-block full-width px-4 py-4 bg-white rounded mb-3">
                            <div class="d-block full-width mb-1"><img src="assets/img/icons/12.png" class="img-fluid" width="45" alt="" /></div>
                            <h4 class="ft-medium mb-0 fs-md">Sales Manager</h4>
                            <p class="mb-3 p-0 lh-1">941 Jobs</p>
                            <a href="job-search-v1.html" class="theme-cl ft-medium">Explore Jobs<i class="lni lni-arrow-right-circle ml-1"></i></a>
                        </div>
                    </div>
                    
                    <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6 col-12">
                        <div class="d-block full-width px-4 py-4 bg-white rounded mb-3">
                            <div class="d-block full-width mb-1"><img src="assets/img/icons/13.png" class="img-fluid" width="45" alt="" /></div>
                            <h4 class="ft-medium mb-0 fs-md">Font Developer</h4>
                            <p class="mb-3 p-0 lh-1">320 Jobs</p>
                            <a href="job-search-v1.html" class="theme-cl ft-medium">Explore Jobs<i class="lni lni-arrow-right-circle ml-1"></i></a>
                        </div>
                    </div>
                    
                    <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6 col-12">
                        <div class="d-block full-width px-4 py-4 bg-white rounded mb-3">
                            <div class="d-block full-width mb-1"><img src="assets/img/icons/14.png" class="img-fluid" width="45" alt="" /></div>
                            <h4 class="ft-medium mb-0 fs-md">Laravel Developer</h4>
                            <p class="mb-3 p-0 lh-1">756 Jobs</p>
                            <a href="job-search-v1.html" class="theme-cl ft-medium">Explore Jobs<i class="lni lni-arrow-right-circle ml-1"></i></a>
                        </div>
                    </div>
                    
                    <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6 col-12">
                        <div class="d-block full-width px-4 py-4 bg-white rounded mb-3">
                            <div class="d-block full-width mb-1"><img src="assets/img/icons/15.png" class="img-fluid" width="45" alt="" /></div>
                            <h4 class="ft-medium mb-0 fs-md">Web Master</h4>
                            <p class="mb-3 p-0 lh-1">695 Jobs</p>
                            <a href="job-search-v1.html" class="theme-cl ft-medium">Explore Jobs<i class="lni lni-arrow-right-circle ml-1"></i></a>
                        </div>
                    </div>
                    
                </div>
            </div>
        </div>
        <!-- /row -->
        
        <!-- Single Category -->
        <div class="row align-items-start">
            <div class="col-xl-3 col-lg-4 col-md-4 col-sm-12 col-12">
                <div class="d-block full-width mt-2">
                    <h3 class="ft-medium mb-0">Switchgear/ Electrical Engineering</h3>
                </div>
            </div>
            <div class="col-xl-9 col-lg-8 col-md-8 col-sm-12 col-12">
                <div class="row">
                
                    <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6 col-12">
                        <div class="d-block full-width px-4 py-4 bg-white rounded mb-3">
                            <div class="d-block full-width mb-1"><img src="assets/img/icons/16.png" class="img-fluid" width="45" alt="" /></div>
                            <h4 class="ft-medium mb-0 fs-md">Web Designing</h4>
                            <p class="mb-3 p-0 lh-1">720 Jobs</p>
                            <a href="job-search-v1.html" class="theme-cl ft-medium">Explore Jobs<i class="lni lni-arrow-right-circle ml-1"></i></a>
                        </div>
                    </div>
                    
                    <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6 col-12">
                        <div class="d-block full-width px-4 py-4 bg-white rounded mb-3">
                            <div class="d-block full-width mb-1"><img src="assets/img/icons/17.png" class="img-fluid" width="45" alt="" /></div>
                            <h4 class="ft-medium mb-0 fs-md">Web Designing</h4>
                            <p class="mb-3 p-0 lh-1">945 Jobs</p>
                            <a href="job-search-v1.html" class="theme-cl ft-medium">Explore Jobs<i class="lni lni-arrow-right-circle ml-1"></i></a>
                        </div>
                    </div>
                    
                    <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6 col-12">
                        <div class="d-block full-width px-4 py-4 bg-white rounded mb-3">
                            <div class="d-block full-width mb-1"><img src="assets/img/icons/18.png" class="img-fluid" width="45" alt="" /></div>
                            <h4 class="ft-medium mb-0 fs-md">Web Designing</h4>
                            <p class="mb-3 p-0 lh-1">320 Jobs</p>
                            <a href="job-search-v1.html" class="theme-cl ft-medium">Explore Jobs<i class="lni lni-arrow-right-circle ml-1"></i></a>
                        </div>
                    </div>
                    
                    <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6 col-12">
                        <div class="d-block full-width px-4 py-4 bg-white rounded mb-3">
                            <div class="d-block full-width mb-1"><img src="assets/img/icons/19.png" class="img-fluid" width="45" alt="" /></div>
                            <h4 class="ft-medium mb-0 fs-md">Web Designing</h4>
                            <p class="mb-3 p-0 lh-1">945 Jobs</p>
                            <a href="job-search-v1.html" class="theme-cl ft-medium">Explore Jobs<i class="lni lni-arrow-right-circle ml-1"></i></a>
                        </div>
                    </div>
                    
                    <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6 col-12">
                        <div class="d-block full-width px-4 py-4 bg-white rounded mb-3">
                            <div class="d-block full-width mb-1"><img src="assets/img/icons/20.png" class="img-fluid" width="45" alt="" /></div>
                            <h4 class="ft-medium mb-0 fs-md">Web Designing</h4>
                            <p class="mb-3 p-0 lh-1">625 Jobs</p>
                            <a href="job-search-v1.html" class="theme-cl ft-medium">Explore Jobs<i class="lni lni-arrow-right-circle ml-1"></i></a>
                        </div>
                    </div>
                    
                </div>
            </div>
        </div>
        <!-- /row -->
        
    </div>
</section>
{% endblock content %}
