{% extends 'base.html' %}
{% block title %} Categories {% endblock title %}
{% block content %} 

<section class="middle bg-light h-100">
    <div class="container">
    {% for category in categories %}
        <!-- Single Category -->
        <div class="row align-items-start mb-5">
            <div class="col-xl-3 col-lg-4 col-md-4 col-sm-12 col-12">
                <div class="d-block full-width mt-2">
                    <h3 class="ft-medium mb-0">{{category.name}}</h3>
                </div>
            </div>
            <div class="col-xl-9 col-lg-8 col-md-8 col-sm-12 col-12">
                <div class="row">
                    {% for skill in category.skills_of_category %}
                    <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6 col-12">
                        <div class="d-block full-width px-4 py-4 bg-white rounded mb-3">
                            <div class="d-block full-width mb-1"><img src="assets/img/icons/1.png" class="img-fluid" width="45" alt="" /></div>
                            <h4 class="ft-medium mb-0 fs-md">{{skill.name}}</h4>
                            <p class="mb-3 p-0 lh-1">12 Jobs</p>
                            <a href="job-search-v1.html" class="worklink-theme ft-medium">Explore Jobs<i class="lni lni-arrow-right-circle ml-1"></i></a>
                        </div>
                    </div>
                    {% endfor %}
                    
                </div>
            </div>
        </div>
        <!-- /row -->
    {% endfor %}
    </div>
</section>
{% endblock content %}
