{% extends 'base.html' %}
{% load static %}
{% block title %} Dashboard {% endblock %}
			{% block content %}
			<div class="dashboard-wrap bg-light">
				{% include 'services/includes/sidebar.html' %}
				
				<div class="dashboard-content">
					<div class="dashboard-tlbar d-block mb-5">
						<div class="row">
							<div class="colxl-12 col-lg-12 col-md-12">
								<h1 class="ft-medium">Hello, {{request.user.get_full_name}}</h1>
								<p>Loggined in as {{request.user.role | capfirst}}</p>
							</div>
						</div>
					</div>
					
					<div class="dashboard-widg-bar d-block">
						<div class="row">
							<div class="col-xl-3 col-lg-3 col-md-6 col-sm-6">
								<div class="dash-widgets py-5 px-4 bg-success rounded">
									<h2 class="ft-medium mb-1 fs-xl text-light">{{jobs_posted}}</h2>
									<p class="p-0 m-0 text-light fs-md">Jobs Posted</p>
									<i class="fas fa-file"></i>
								</div>
							</div>
							<div class="col-xl-3 col-lg-3 col-md-6 col-sm-6">
								<div class="dash-widgets py-5 px-4 bg-info rounded">
									<h2 class="ft-medium mb-1 fs-xl text-light">{{ applied_jobs }}</h2>
									<p class="p-0 m-0 text-light fs-md">Applied Jobs</p>
									<i class="fas fa-file"></i>
								</div>
							</div>
							<div class="col-xl-3 col-lg-3 col-md-6 col-sm-6">
								<div class="dash-widgets py-5 px-4 bg-danger rounded">
									<h2 class="ft-medium mb-1 fs-xl text-light">87</h2>
									<p class="p-0 m-0 text-light fs-md">Applications</p>
									<i class="fas fa-users"></i>								
								</div>
							</div>
							
							<div class="col-xl-3 col-lg-3 col-md-6 col-sm-6">
								<div class="dash-widgets py-5 px-4 bg-warning rounded">
									<h2 class="ft-medium mb-1 fs-xl text-light">312</h2>
									<p class="p-0 m-0 text-light fs-md">Alert Jobs</p>
									<i class="fas fa-chart-bar"></i>
								</div>
							</div>
							<div class="col-xl-3 col-lg-3 col-md-6 col-sm-6">
								<div class="dash-widgets py-5 px-4 bg-danger rounded">
									<h2 class="ft-medium mb-1 fs-xl text-light">312</h2>
									<p class="p-0 m-0 text-light fs-md">Notifications</p>
									<i class="fas fa-chart-bar"></i>
								</div>
							</div>
						</div>
					</div>
					
					<!-- footer -->
				</div>
			</div>
			{% endblock content %}
{% block extra_js %}
{% endblock %}