{% extends 'base.html' %}
{% load static %}
{% block title %} Home {% endblock title %}
{% block content %}
<!-- ======================= Home Banner ======================== -->
			<div class="home-banner" style="background:url({% static 'img/banner-1.jpg' %});repeat: no-repeat;" data-overlay="4">
				<div class="container">
					<div class="row justify-content-center">
						<div class="col-xl-11 col-lg-12 col-md-12 col-sm-12 col-12">
							<div class="text-center mb-5">
								<h1 class="banner_title ft-bold mb-1">The Most Exciting Jobs</h1>
								<p class="fs-md ft-medium">Connecting Service Seeker and Service Provider </p>
							</div>
							
							<form class="bg-white rounded p-1">
								<div class="row no-gutters">
									<div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 col-12">
										<div class="form-group mb-0 position-relative">
											<input type="text" class="form-control lg left-ico" placeholder="Job Title, Keyword or Company" />
											<i class="bnc-ico fas fa-search"></i>
										</div>
									</div>
									<div class="col-xl-3 col-lg-3 col-md-3 col-sm-12 col-12">
										<div class="form-group mb-0 position-relative">
											<input type="text" class="form-control lg left-ico" placeholder="Location" />
											<i class="bnc-ico fal fa-location"></i>
										</div>
									</div>
									<div class="col-xl-3 col-lg-3 col-md-3 col-sm-12 col-12">
										<div class="form-group mb-0 position-relative">
											<select class="custom-select lg b-0">
											  <option value="1">Choose Categories</option>
											  {% for category in categories %}
											  <option value="{{category.name}}">{{category.name}}</option>
											  {% endfor %}
											</select>
										</div>
									</div>
									<div class="col-xl-2 col-lg-2 col-md-2 col-sm-12 col-12">
										<div class="form-group mb-0 position-relative">
											<button class="btn full-width custom-height-lg theme-bg text-white fs-md" type="button">Find Job</button>
										</div>
									</div>
								</div>
							</form>
							
						</div>
					</div>
				</div>
			</div>
			<!-- ======================= Home Banner ======================== -->
			
			<!-- ======================= Job List ======================== -->
			<section class="middle">
				<div class="container">
				
					<div class="row justify-content-center">
						<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
							<div class="sec_title position-relative text-center mb-5">
								<h6 class="text-muted mb-0">Trending Jobs</h6>
								<h2 class="ft-bold">All Popular Listed jobs</h2>
							</div>
						</div>
					</div>
					
					<!-- row -->
					<div class="row align-items-center">
                     
						{% for service in services %}
						<!-- Single -->
						<div class="col-xl-3 col-lg-4 col-md-6 col-sm-12 service-link" data-link={% url 'service-detail' service.id %}>
							<div class="job_grid border rounded ">
								<div class="position-absolute ab-right"><span class="medium bg-light-warning text-warning px-2 py-1 rounded">{{service.duration}} days</span></div>
								<div class="job_grid_thumb mb-2 pt-5 px-3">
									<img src="{{service.image.url}}" class="d-block m-auto img-fluid text-center" width="70" alt="" />
								</div>
								<div class="job_grid_caption text-center pb-3 px-3">
									<h4 class="mb-0 ft-medium medium text-dark fs-md">{{ service.title}}</h4>
									<div class="jbl_location"><i class="lni lni-map-marker mr-1"></i><span>{{ service.location }}</span></div>
								</div>
								<div class="job_grid_footer pb-4 px-3">
									<ul class="p-0 skills_tag text-center">
										{% for skill in service.skills.all %}
										<li><span class="px-2 py-1 medium skill-bg rounded text-dark">{{skill}}</span></li>
										{% endfor %}
									</ul>
								</div>
							</div>
						</div>
						   {% endfor %}						
					</div>
					<!-- row -->
					
					<div class="row justify-content-center">
						<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
							<div class="position-relative text-center">
								<a href="{% url 'service-search' %}" class="btn btn-md theme-bg rounded text-white hover-theme">Explore More Jobs<i class="lni lni-arrow-right-circle ml-2"></i></a>
							</div>
						</div>
					</div>
					
				</div>
			</section>
			<!-- ======================= Job List ======================== -->
			
			<!-- ======================= All category ======================== -->
			<section class="space gray">
				<div class="container">
					<div class="row justify-content-center">
						<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
							<div class="sec_title position-relative text-center mb-5">
								<h6 class="text-muted mb-0">Popular Categories</h6>
								<h2 class="ft-bold">Browse Top Categories</h2>
							</div>
						</div>
					</div>
					
					<!-- row -->
					<div class="row align-items-center">
						{% for category in categories %}
						<div class="col-xl-2 col-lg-3 col-md-4 col-sm-6 col-6">
							<div class="cats-wrap text-center">
								<a href="{% url 'service-search' %}" class="cats-box d-block rounded bg-white px-2 py-4">
									<div class="text-center mb-2 mx-auto position-relative d-inline-flex align-items-center justify-content-center p-3 theme-bg-light circle">
										<i class="fs-lg theme-cl">{{category.name | slice:1}}</i>
									</div>
									<div class="cats-box-caption">
										<h4 class="fs-md mb-0 ft-medium m-catrio">{{category.name}}</h4>
										<span class="text-muted">{{category.no_of_jobs}} Jobs</span>
									</div>
								</a>
							</div>
						</div>
						{% endfor %}
					</div>
					
					<div class="row justify-content-center">
						<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
							<div class="position-relative text-center">
								<a href="{% url 'categories' %}" class="btn btn-md bg-dark rounded text-light hover-theme">Browse All Categories<i class="lni lni-arrow-right-circle ml-2"></i></a>
							</div>
						</div>
					</div>
					
				</div>
			</section>
	{% endblock content %}
{% block extra_js %}
<script>
	var card_div = document.querySelectorAll('.service-link')
    for (var i = 0; i < card_div.length; i++) {
        card_div[i].addEventListener('click', function () {
            var url = this.getAttribute('data-link')
            if (url) {
                window.location.href = url
            }
        })
    }
</script>

{% endblock extra_js%}