<div class="mb-4 tbl-lg rounded overflow-hidden">
    <div class="table-responsive bg-white">
        <table class="table">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">S.N</th>
                    <th scope="col">Title</th>
                    <th scope="col">No.of applicants</th>
                    <th scope="col">Date posted</th>
                    <th scope="col">Action</th>
                </tr>
            </thead>
            <tbody>
                {% for job in posted_jobs %}
                <tr>
                    <td>{{forloop.counter}}</td>
                    <td>
                        <div class="dash-title">
                            <h4 class="mb-0 ft-medium fs-sm">{{job.title}}
                                <span class="medium worklink-theme rounded text-success bg-light-success ml-1 py-1">{{job.status|capfirst}}</span>
                            </h4>
                        </div>
                    </td>
                    <td><p class="fs-md btn btn-primary rounded p-0">&nbsp;{{job.no_of_applications}} applicants&nbsp;</p></td>
                    <td>{{job.created_at}}</td>
                    <td>
                        <div class="dash-action">
                            <a href="{% url 'manage-applicant' job.id %}" class="p-2 circle text-info bg-light-info d-inline-flex align-items-center justify-content-center mr-1"><i class="fas fa-eye"></i></a>
                            <a href="{% url 'post-job' job.id %}" class="p-2 circle text-success bg-light-success d-inline-flex align-items-center justify-content-center"><i class="fas fa-pen"></i></a>
                            <a href="{% url 'delete-job' job.id%}" class="p-2 circle text-danger bg-light-danger d-inline-flex align-items-center justify-content-center ml-1"><i class="fas fa-trash"></i></a>
                        </div>
                    </td>
                </tr>
                {% endfor %}
                
            </tbody>
        </table>
    </div>
</div>