{% extends 'base.html' %}
{% load static %}
{% block title %} Dashboard {% endblock title %}
{% block content %}
<div class="dashboard-wrap bg-light">
    {% include 'services/includes/sidebar.html' %}
    <div class="dashboard-content">
        <div class="dashboard-tlbar d-block mb-5">
            <div class="row">
                <div class="colxl-12 col-lg-12 col-md-12">
                    <h1 class="ft-medium">Post A New Job {{request.user.can_post_job}}</h1>
                </div>
            </div>
        </div>
        
        
        <div class="dashboard-widg-bar d-block">
            <div class="row">
                <div class="col-xl-12 col-lg-12 col-md-12">
                    <div class="_dashboard_content bg-white rounded mb-4">
                        <div class="_dashboard_content_header br-bottom py-3 px-3">
                            <div class="_dashboard__header_flex">
                                <h4 class="mb-0 ft-medium fs-md"><i class="fa fa-file mr-1 theme-cl fs-sm"></i>Post Job</h4>	
                            </div>
                        </div>
                        <div class="_dashboard_content_body py-3 px-3">
                            <form  action="{% url 'post-job' %}" method="POST" enctype="multipart/form-data">
                                {{form.as_p}}
                                {% csrf_token %}
                                <div class="col-12">
                                    <div class="form-group">
                                        <button type="submit" class="btn btn-md ft-medium text-light rounded theme-bg">Publish Job</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>      
    </div>
    
</div>
{% endblock content %}