{% extends 'base.html' %}
{% load static %}
{% block title %} Create a job {% endblock title %}
{% block content %}
<div class="dashboard-wrap bg-light">
    {% include 'services/includes/sidebar.html' %}
    <div class="dashboard-content">
        <div class="dashboard-tlbar d-block mb-1">
            <div class="row">
                <div class="colxl-12 col-lg-12 col-md-12">
                    <h1 class="ft-medium">{{title}}</h1>
                </div>
            </div>
        </div>
        
        <div class="dashboard-widg-bar d-block">
            <div class="row">
                <div class="col-xl-12 col-lg-12 col-md-12">
                    <div class="_dashboard_content bg-white rounded mb-4">
                        <div class="_dashboard_content_header br-bottom py-3 px-3">
                            <div class="_dashboard__header_flex">
                                <h4 class="mb-0 ft-medium fs-md"><i class="fa fa-file mr-1 worklink-theme fs-sm"></i>Post Job</h4>	
                            </div>
                        </div>
                        <div class="_dashboard_content_body py-3 px-3">
                            <form  action="" method="POST" enctype="multipart/form-data" novalidate>
                                {% csrf_token %}
                                <form class="row">
                                    <div class="col-xl-12 col-lg-12 col-md-12">
                                        <div class="row">
                                            <div class="col-xl-12 col-lg-12 col-md-12">
                                                <div class="form-group">
                                                    <label class="text-dark ft-medium">Job Title</label>
                                                {{form.title}}
                                                </div>
                                            </div>
                                            
                                            <div class="col-xl-12 col-lg-12 col-md-12">
                                                <div class="form-group">
                                                    <label class="text-dark ft-medium">Job Description</label>
                                                {{form.description}}
                                                </div>
                                            </div>
                                            
                                            <div class="col-xl-6 col-lg-6 col-md-6">
                                                <div class="form-group">
                                                    <label class="text-dark ft-medium">Amount</label>
                                                   {{form.amount}}
                                                </div>
                                            </div>
                                            
                                            <div class="col-xl-6 col-lg-6 col-md-6">
                                                <div class="form-group">
                                                    <label class="text-dark ft-medium">Duration</label>
                                                    {{form.duration}}
                                                </div>
                                            </div>
                                            
                                            <div class="col-xl-6 col-lg-6 col-md-6">
                                                <div class="form-group">
                                                    <label class="text-dark ft-medium">Status</label>
                                                    {{form.status}}
                                                </div>
                                            </div>
                                            
                                            <div class="col-xl-6 col-lg-6 col-md-6">
                                                <div class="form-group">
                                                    <label class="text-dark ft-medium">Category</label>
                                                        {{form.category}}
                                                </div>
                                            </div>
                                            
                                            <div class="col-xl-6 col-lg-6 col-md-6">
                                                <div class="form-group">
                                                    <label class="text-dark ft-medium">Skills</label>
                                                   {{form.skills}}
                                                </div>
                                            </div>
                                            
                                            <div class="col-xl-6 col-lg-6 col-md-6">
                                                <div class="form-group">
                                                    <label class="text-dark ft-medium">Vacancy</label>
                                                    {{form.vacancy}}
                                                </div>
                                            </div>
                                            
                                            <div class="col-xl-6 col-lg-6 col-md-6">
                                                <div class="form-group">
                                                    <label class="text-dark ft-medium">Location</label>
                                                    {{form.location}}
                                                </div>
                                            </div>
                                            
                                            <div class="col-xl-6 col-lg-6 col-md-6">
                                                <div class="form-group">
                                                    <label class="text-dark ft-medium">Image</label>
                                                    {{form.image}}
                                                </div>
                                            </div>
                                            
                                         </div>
                                    </div>
                                
                                    <div class="col-12">
                                        <div class="form-group">
                                            <button type="submit" class="btn btn-md ft-medium text-light rounded theme-bg">Save Changes</button>
                                        </div>
                                    </div>
                            </form>
                                <div class="modal fade" id="postJobModal" tabindex="-1" role="dialog" aria-labelledby="postJobModalLabel" aria-hidden="true" data-backdrop="false">
										<div class="modal-dialog" role="document">
											<div class="modal-content">
											<div class="modal-header">
												<h5 class="modal-title" id="postJobModalLabel">Confirmation</h5>
												<button type="button" class="close" data-dismiss="modal" aria-label="Close">
												<span aria-hidden="true">&times;</span>
												</button>
											</div>
											<div class="modal-body">
												<p>10 points will be deducted from your account. 

													Do you want to continue?
												</p>
											</div>
											<div class="modal-footer">
												<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
												<button type="submit" class="btn btn-primary">Save changes</button>
											</div>
											</div>
										</div>
									</div>

                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>      
    </div>
    
</div>

 
{% endblock content %}
