{% extends 'base.html' %}
{% block title %} Service details {% endblock title %}
{% block content %}
			<!-- ======================= Searchbar Banner ======================== -->
			<div class="py-5" style="background:#03343b url(assets/img/landing-bg.png) no-repeat;" data-overlay="0">
				<div class="container">
					<div class="row">
						<div class="col-xl-8 col-lg-10 col-md-12 col-sm-12 col-12">
							<div class=" mb-2">
								<h1 class="ft-bold">{{services.title}}</h1>
							</div>
						</div>
					</div>
				</div>
			</div>

			<!-- ============================ Job Details Start ================================== -->
			<section class="bg-light py-5 position-relative">
				<div class="container">
					<div class="row">
						
						<div class="col-xl-8 col-lg-8 col-md-8 col-sm-12">
							<div class="bg-white rounded px-3 py-4 mb-4">
								<div class="jbd-01 d-flex align-items-center justify-content-between">
									<div class="jbd-flex d-flex align-items-center justify-content-start">
										<div class="">
											<img src="{{ services.image.url }}" class="img-fluid" width="90" alt="" />
										</div>
										<div class="jbd-01-caption pl-3">
											<div class="tbd-title"><h4 class="mb-0 ft-medium fs-md">{{services.title}}</h4></div>
											<div class="mb-3"><span><i class="lni lni-map-marker mr-1"></i>{{services.location}}</span><span class="medium ft-medium text-warning ml-3">{{services.duration}} days</span></div>
											<div class="jbl_info01">
												{% for skill in services.skills.all %}
												<span class="px-2 py-1 ft-medium medium rounded worklink-theme theme-bg-light mr-2">{{skill}}</span>
												{% endfor %}
																							
											</div>
										</div>
									</div>
									<div class="jbd-01-right text-right hide-1023">
										{% if has_applied %}
										<div class="mb-2"><a href="{% url 'manage-job' %}" class="btn rounded theme-bg-light worklink-theme fs-sm ft-medium">Check status</a></div>
												{% else %}
													<a href="#" class="btn btn-md rounded theme-bg text-light fs-sm ft-medium">Apply Job</a>
												{% endif %}
										<div><a href="javascript:void(0);" class="btn rounded bg-white border fs-sm ft-medium">View Company</a></div>
									</div>
								</div>
							</div>
							
							<div class="bg-white rounded mb-4">
								<div class="jbd-01 px-3 py-4">
									<div class="jbd-details mb-4">
										<h5 class="ft-medium fs-md">Job description</h5>
										<p>{{services.description}}</p>
									</div>
					
								</div>
								
								<div class="jbd-02 px-3 py-3 br-top">
									<div class="jbd-02-flex d-flex align-items-center justify-content-between">
										{% comment %} <div class="jbd-02-social">
											<ul class="jbd-social">
												<li><i class="ti-sharethis"></i></li>
												<li><a href="javascript:void(0);"><i class="ti-facebook"></i></a></li>
												<li><a href="javascript:void(0);"><i class="ti-twitter"></i></a></li>
												<li><a href="javascript:void(0);"><i class="ti-linkedin"></i></a></li>
												<li><a href="javascript:void(0);"><i class="ti-instagram"></i></a></li>
											</ul>
										</div> {% endcomment %}
									</div>
								</div>
							</div>
							
						</div>
						
						<!-- Sidebar -->
						<div class="col-xl-4 col-lg-4 col-md-4 col-sm-12">
							<div class="jb-apply-form bg-white rounded py-3 px-4 box-static">
								<h4 class="ft-medium fs-md mb-3">Intrested in this job?</h4>
								
								<form action="{% url 'service-detail' services.id %}" method="post" enctype="multipart/form-data">
									{% csrf_token %}
									<div class="form-group">
										<label class="text-dark mb-1 ft-medium medium">Full Name</label>
										<input type="text" class="form-control" placeholder="First Name" value="{{request.user.get_full_name}}" disabled>
									</div>
									
									<div class="form-group">
										<label class="text-dark mb-1 ft-medium medium">Contact Info</label>
										<input type="email" class="form-control"
										value="
										{{request.user.email}} | 
										{{request.user.phone_number}}"
										disabled >
									</div>
									{% if has_applied %}
									<p class="text-center ft-md fs-md text-primary">You have already applied for this job</p>							
									
									{% elif request.user.points.points < 10 %} 
									<p>You do not have enough points to apply (10 points is required)</p>
									<a class="btn btn-warning rounded" href="{% url 'buy-points' %}">
										Load Points
									</a>

									{% else %}

									<div class="form-group">
										<label class="text-dark mb-1 ft-medium medium">Enter points (10 points is required)</label>
										<input type="number" class="form-control" placeholder="0" name="points">
									</div>
									<div class="form-group">
										<label class="text-dark mb-1 ft-medium medium">Upload Resume: (Optional)</label>
										<div>
										  <input type="file" class="form-control" id="customFile" name="resume">
										</div>
									</div>
									<div class="form-group">
										<button type="submit" class="btn btn-md btn-primary rounded text-light ft-medium fs-sm full-width">Apply For This Job</button>
									</div>
									{% endif %}
								</form>
							</div>
						</div>
						
					</div>
				</div>
			</section>
			<!-- ============================ Job Details End ================================== -->
			
{% endblock content %}