{% extends 'base.html' %}
{% load static %} 
{% block title %} Service Search {% endblock title%}
{% block content %}
   <!-- ======================= Searchbar Banner ======================== -->
    <div class="py-5 theme-bg" data-overlay="0">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-xl-8 col-lg-10 col-md-12 col-sm-12 col-12">
                    <div class="text-center mb-2">
                        <h1 class="ft-bold mb-4">The Most Exciting Jobs</h1>
                    </div>
                    
                    <form class="bg-white rounded p-1">
                        <div class="row no-gutters">
                            <div class="col-xl-5 col-lg-5 col-md-5 col-sm-12 col-12">
                                <div class="form-group mb-0 position-relative">

                                    <input type="text" class="form-control lg left-ico" placeholder="Job Title, Keyword" />
                                    <i class="bnc-ico lni lni-search-alt"></i>
                                </div>
                            </div>
                            <div class="col-xl-5 col-lg-4 col-md-4 col-sm-12 col-12">
                                <div class="form-group mb-0 position-relative">


                                    <input type="text" class="form-control lg left-ico" placeholder="Location" />
                                    <i class="bnc-ico lni lni-target"></i>

                                </div>
                            </div>
                            <div class="col-xl-2 col-lg-3 col-md-3 col-sm-12 col-12">
                                <div class="form-group mb-0 position-relative">
                                    <button class="btn full-width custom-height-lg bg-dark text-white fs-md" type="button">Find Job</button>
                                </div>
                            </div>
                        </div>
                    </form>
                    
                </div>
            </div>
        </div>
    </div>
    <!-- ======================= Searchbar Banner ======================== -->
    
    
    <section class="py-2 br-bottom br-top">
        <div class="container">
            <div class="row align-items-center justify-content-between">
                <div class="col-xl-3 col-lg-4 col-md-5 col-sm-12">
                    <h6 class="mb-0 ft-medium fs-sm">{{services.count}} New Jobs Found</h6>
                </div>
                {% comment %} <div class="col-xl-9 col-lg-8 col-md-7 col-sm-12">
                    <div class="filter_wraps elspo_wrap d-flex align-items-center justify-content-end">
                        <div class="single_fitres mr-2 br-right">
                            <select class="custom-select simple">
                                <option value="1" selected="">Default Sorting</option>
                                <option value="2">Recent jobs</option>
                                <option value="3">Featured jobs</option>
                                <option value="4">Trending Jobs</option>
                            </select>
                        </div>

                    </div> {% endcomment %}
                </div>
            </div>
            
        </div>
    </section>
    
    <!-- ============================ Main Section Start ================================== -->
    <section class="bg-light">
        <div class="container">
            <div class="row">
                
                <div class="col-lg-4 col-md-12 col-sm-12">
                    <div class="bg-white rounded mb-4">							
                    
                        <div class="sidebar_header d-flex align-items-center justify-content-between px-4 py-3 br-bottom">
                            <h4 class="ft-medium fs-lg mb-0">Search Filter</h4>
                            <div class="ssh-header">
                                <a href="javascript:void(0);" class="clear_all ft-medium text-muted">Clear All</a>
                                <a href="#search_open" data-toggle="collapse" aria-expanded="false" role="button" class="collapsed _filter-ico ml-2"><i class="lni lni-text-align-right"></i></a>
                            </div>
                        </div>
                        
                        <!-- Find New Property -->
                        <div class="sidebar-widgets collapse miz_show" id="search_open" data-parent="#search_open">
                            
                            <div class="search-inner">
                                
                                <div class="filter-search-box px-4 pt-3 pb-0">
                                    <div class="form-group">
                                        <input type="text" class="form-control" placeholder="Search by keywords...">
                                    </div>
                                    <div class="form-group">
                                        <input type="text" class="form-control" placeholder="Location, ..">
                                    </div>
                                </div>
                                
                                <div class="filter_wraps">
                                    
                                    <!-- Job categories Search -->
                                    <div class="single_search_boxed px-4 pt-0 br-bottom">
                                        <div class="widget-boxed-header">
                                            <h4>
                                                <a href="#categories" class="ft-medium fs-md pb-0" data-toggle="collapse" aria-expanded="true" role="button">Job Categories </a>
                                            </h4>
                                            
                                        </div>
                                        <div class="widget-boxed-body collapse show" id="categories" data-parent="#categories">
                                            <div class="side-list no-border">
                                                <!-- Single Filter Card -->
                                                <div class="single_filter_card">
                                                    <div class="card-body p-0">
                                                        <div class="inner_widget_link">
                                                            <ul class="no-ul-list filter-list">
                                                                {% for category in categories %}
                                                                <li>
                                                                    <input id="a1" class="checkbox-custom" name="ADA" type="checkbox" checked="">
                                                                    <label for="a1" class="checkbox-custom-label">{{category.name}} ({{category.no_of_jobs}})</label>
                                                                    <ul class="no-ul-list filter-list">
                                                                        {% for skill in category.skills_of_category %}
                                                                        <li>
                                                                            <input id="aa1" class="checkbox-custom" name="ADA" type="checkbox">
                                                                            <label for="aa1" class="checkbox-custom-label">{{skill}} (31)</label>
                                                                        </li>
                                                                        {% endfor %}
                                                                    </ul>
                                                                </li>
                                                                {% endfor %}
                                                            </ul>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    
                                    <!-- Job Locations Search -->
                                    <div class="single_search_boxed px-4 pt-0 br-bottom">
                                        <div class="widget-boxed-header">
                                            <h4>
                                                <a href="#locations" data-toggle="collapse" aria-expanded="false" role="button" class="ft-medium fs-md pb-0 collapsed">Job Locations</a>
                                            </h4>
                                            
                                        </div>
                                        <div class="widget-boxed-body collapse" id="locations" data-parent="#locations">
                                            <div class="side-list no-border">
                                                <!-- Single Filter Card -->
                                                <div class="single_filter_card">
                                                    <div class="card-body p-0">
                                                        <div class="inner_widget_link">
                                                            <ul class="no-ul-list filter-list">
                                                               {% for area in services %}
                                                                <li>
                                                                    <input id="b3" class="checkbox-custom" name="" type="checkbox">
                                                                    <label for="b3" class="checkbox-custom-label">{{area.location}} (2)</label>
                                                                </li>
                                                                {% endfor %}
                                                            </ul>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    
                                    
                                    <!-- Experience Search -->
                                    <div class="single_search_boxed px-4 pt-0 br-bottom">
                                        <div class="widget-boxed-header">
                                            <h4>
                                                <a href="#experience" data-toggle="collapse" aria-expanded="false" role="button" class="ft-medium fs-md pb-0 collapsed">Experience</a>
                                            </h4>
                                            
                                        </div>
                                        <div class="widget-boxed-body collapse" id="experience" data-parent="#experience">
                                            <div class="side-list no-border">
                                                <!-- Single Filter Card -->
                                                <div class="single_filter_card">
                                                    <div class="card-body p-0">
                                                        <div class="inner_widget_link">
                                                            <ul class="no-ul-list filter-list">
                                                                <li>
                                                                    <input id="d1" class="checkbox-custom" name="ADA" type="checkbox" checked="">
                                                                    <label for="d1" class="checkbox-custom-label">Beginner (54)</label>
                                                                </li>
                                                                <li>
                                                                    <input id="d2" class="checkbox-custom" name="Parking" type="checkbox">
                                                                    <label for="d2" class="checkbox-custom-label">1+ Year (32)</label>
                                                                </li>
                                                                <li>
                                                                    <input id="d3" class="checkbox-custom" name="Coffee" type="checkbox">
                                                                    <label for="d3" class="checkbox-custom-label">2 Year (09)</label>
                                                                </li>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    
                                    <!-- Job types Search -->
                                    <div class="single_search_boxed px-4 pt-0 br-bottom">
                                        <div class="widget-boxed-header">
                                            <h4>
                                                <a href="#jbtypes" data-toggle="collapse" aria-expanded="false" role="button" class="ft-medium fs-md pb-0 collapsed">Working Days</a>
                                            </h4>
                                            
                                        </div>
                                        <div class="widget-boxed-body collapse" id="jbtypes" data-parent="#jbtypes">
                                            <div class="side-list no-border">
                                                <!-- Single Filter Card -->
                                                <div class="single_filter_card">
                                                    <div class="card-body p-0">
                                                        <div class="inner_widget_link">
                                                            <ul class="no-ul-list filter-list">
                                                                <li>
                                                                    <input id="e2" class="radio-custom" name="jtype" type="radio">
                                                                    <label for="e2" class="radio-custom-label">Full time</label>
                                                                </li>
                                                                <li>
                                                                    <input id="e3" class="radio-custom" name="jtype" type="radio">
                                                                    <label for="e3" class="radio-custom-label">Part Time</label>
                                                                </li>

                                                                <li>
                                                                    <input id="e6" class="radio-custom" name="jtype" type="radio">
                                                                    <label for="e6" class="radio-custom-label">Regular</label>
                                                                </li>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <!-- Expected budget Search -->
                                    <div class="single_search_boxed px-4 pt-0 mb-2">
                                        <div class="widget-boxed-header">
                                            <h4>
                                                <a href="#salary" data-toggle="collapse" aria-expanded="false" role="button" class="ft-medium fs-md pb-0 collapsed">Job Budget</a>
                                            </h4>
                                            
                                        </div>
                                        <div class="widget-boxed-body collapse" id="salary" data-parent="#salary">
                                            <div class="side-list no-border">
                                                <!-- Single Filter Card -->
                                                <div class="single_filter_card">
                                                    <div class="card-body p-0">
                                                        <div class="inner_widget_link">
                                                            <ul class="no-ul-list filter-list">
                                                                <li>
                                                                    <input id="g1" class="checkbox-custom" name="ADA" type="checkbox" checked="">
                                                                    <label for="g1" class="checkbox-custom-label">Rs. 100 - Rs.500</label>
                                                                </li>
                                                                <li>
                                                                    <input id="g1" class="checkbox-custom" name="ADA" type="checkbox" checked="">
                                                                    <label for="g1" class="checkbox-custom-label">Rs. 1000 - Rs.5000</label>
                                                                </li>
                                                                <li>
                                                                    <input id="g1" class="checkbox-custom" name="ADA" type="checkbox" checked="">
                                                                    <label for="g1" class="checkbox-custom-label">Rs. 100000 - Rs.500000</label>
                                                                </li>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    
                                </div>
                                
                            </div>							
                        </div>
                    </div>
                    <!-- Sidebar End -->
                
                </div>
                
                <!-- Item Wrap Start -->
                <div class="col-lg-8 col-md-12 col-sm-12">
                    
                    <!-- row -->
                    <div class="row align-items-center">

                        {% for job in services %}
                        <!-- Single -->
                        <div class="col-xl-4 col-lg-6 col-md-6 col-sm-12">
                            <div class="job_grid border rounded ">
                                <div class="position-absolute ab-right"><span class="medium worklink-theme theme-bg-light px-2 py-1 rounded">{{job.duration}} days</span></div>
                                <div class="job_grid_thumb mb-2 pt-5 px-3">
                                    <a href="{% url 'service-detail' job.id %}" class="d-block text-center m-auto"><img src="{{ job.image.url}}" class="img-fluid" width="70" alt="" /></a>
                                </div>
                                <div class="job_grid_caption text-center pb-3 px-3">
                                    <h4 class="mb-0 ft-medium medium"><a href="{% url 'service-detail' job.id %}" class="text-dark fs-md">{{job.title}}</a></h4>
                                    <div class="jbl_location"><i class="lni lni-map-marker mr-1"></i><span>{{job.location}}</span></div>
                                </div>
                                <div class="job_grid_footer pb-4 px-3">
                                    <ul class="p-0 skills_tag text-center">
                                        {% for skill in job.skills.all %}
                                        <li><span class="px-2 py-1 medium skill-bg rounded text-dark">{{skill}}</span></li>
                                        {% endfor %}
                                        <li><span class="px-2 py-1 medium theme-bg rounded text-light">+3 More</span></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        
                        {% endfor %}
                    <!-- row -->
                    </div>
                    {% comment %} <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12">
                            <ul class="pagination">
                                <li class="page-item">
                                    <a class="page-link" href="#" aria-label="Previous">
                                    <span class="fas fa-arrow-circle-right"></span>
                                    <span class="sr-only">Previous</span>
                                    </a>
                                </li>
                                <li class="page-item"><a class="page-link" href="#">1</a></li>
                                <li class="page-item"><a class="page-link" href="#">2</a></li>
                                <li class="page-item active"><a class="page-link" href="#">3</a></li>
                                <li class="page-item"><a class="page-link" href="#">...</a></li>
                                <li class="page-item"><a class="page-link" href="#">18</a></li>
                                <li class="page-item">
                                    <a class="page-link" href="#" aria-label="Next">
                                    <span class="fas fa-arrow-circle-right"></span>
                                    <span class="sr-only">Next</span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                     {% endcomment %}
                </div>
                
            </div>
        </div>
    </section>
{% endblock content %}