{% extends 'base.html' %}
{% block title %} Transaction Page {% endblock title%}
{% block content %}

<div class="dashboard-wrap bg-light">
    {% include 'services/includes/sidebar.html' %}
<div class="dashboard-content">
    <div class="dashboard-tlbar d-block mb-5">
        <div class="row">
            <div class="colxl-12 col-lg-12 col-md-12">
                <h1 class="ft-medium">Transaction Page</h1>
            </div>
        </div>
    </div>
    
    <div class="dashboard-widg-bar d-block">
      
	<div class="container">
			<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
				<div class="d-flex justify-content-between">
					<p class="fs-md ft-regular">Your Good Balance : <span class="text-primary">{{request.user.user_balance.balance}}</span></p>
                    <a class="btn btn-info mb-2" href="{% url 'load-balance' %}">Load Balance</a>
				</div>
                <div class="mb-4 tbl-lg rounded overflow-hidden">
                    <div class="table-responsive bg-white">
                        <table class="table">
                            <thead class="thead-dark">
                                <tr>
                                    <th scope="col">Title</th>
                                    <th scope="col">Applied Date</th>
                                    <th scope="col">Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                
                                {% for job in applied_jobs %}
                                <tr>
                                    <td>
                                        <div class="dash-title">
                                            <h4 class="mb-0 ft-medium fs-sm">{{job.service}}
                                            </h4>
                                        </div>
                                    </td>
                                    <td>{{job.applied_on}}</td>
                                    <td>
                                        <div class="dash-action">
                                            <a href="#" class="p-2 circle text-info bg-light-info d-inline-flex align-items-center justify-content-center mr-1"><i class="fas fa-eye"></i></a>
                                            <a href="#" class="p-2 circle text-success bg-light-success d-inline-flex align-items-center justify-content-center"><i class="fas fa-pen"></i></a>
                                            <a href="#" class="p-2 circle text-danger bg-light-danger d-inline-flex align-items-center justify-content-center ml-1"><i class="fas fa-trash"></i></a>
                                        </div>
                                    </td>
                                </tr>
                                {% endfor %}
                                
                            </tbody>
                        </table>
                    </div>
                </div>
                <!-- payment confirmation-->
                <div id="paypal-button-container"></div>
			</div>
	</div>
            
    </div>
    
   

</div>

</div>
<!-- ======================= dashboard Detail End ======================== -->

<a id="back2Top" class="top-scroll" title="Back to top" href="#"><i class="ti-arrow-up"></i></a>

{% endblock content %}
